extends layout

block content
  div.container
    .col-lg-6
        table.table.table-striped.table-hover.table-bordered
            tr
                th Data
                th text
            tr
                th Data
                th text
        button.btn.btn-danger ok
        button.btn.btn-success ok
        button.btn.btn-default
            span.glyphicon.glyphicon-thumbs-up
        button.btn.btn-warning ok
