doctype html
html
  head
    title= title
    //link(href="/images/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel='stylesheet', href='/css/cosmo.bootstrap.min.css')
    link(rel='stylesheet', href='/css/site.css')
  body
    block menu
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            .navbar-brand #{title}
          #navbar-main.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/') Home
    br
    br
    br
    block content
    block footer
    include scripts