doctype html
html
  head
    title= title
    //link(href="/images/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel='stylesheet', href='/css/slate.bootstrap.min.css')
    link(rel='stylesheet', href='/css/site.css')
  body
    block menu
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            .navbar-brand #{title}
          #navbar-main.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Category &nbsp;
                            b.caret
                        ul.dropdown-menu
                            li: a(href='/categories/5') Grains/Cereals
                            li: a(href='/categories/7') Produce
                            li: a(href='/categories/6') Meat/Poultry
                            li: a(href='/categories/8') Seafood

                    li: a(href='/categories') Category
                    li: a(href='/customers') Customers
                    li: a(href='/employees') Emplyees
                    li: a(href='/products') Products
                    li: a(href='/orders') Orders
                    li: a(href='/').btn-default: span.glyphicon.glyphicon-home
    br
    br
    br
    block content
    block footer
    include scripts